* {
  box-sizing: content-box;
  overflow-x: hidden;
  .card-title {
    overflow: hidden;
  }
}
h2 {
  overflow: hidden;
}
.App {
  .header {
    width: 100%;
    .navBar {
      position: fixed;
      z-index: 10;
      width: 100%;
      top: 0;
      overflow: initial;
      .navbar-brand {
        color: #47506b;
      }
      .navbar-collapse {
        overflow: initial;
        .navbar-nav {
          overflow: initial;
          .nav-link {
            color: #47506b;
          }
          .dropdown {
            overflow: initial;
          }
        }
      }
    }
    .banner {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  .main {
    margin-top: 20%;
    margin-left: 4%;
    width: 92%;
    background-color: #6a99c1;
    border-radius: 4px;
    .cardContainer {
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      .ExpandedCard {
        margin-bottom: 5%;
        width: 65%;
        height: auto;
        margin-left: 5%;
        transition: all 0.6s ease-out;
        &:hover {
          width: 95%;
          transition: all 0.35s ease-in-out;
          margin-left: 2.5%;
        }
        .card-header {
          background-color: #e6e6e6;
          font-size: 1.5em;
          font-weight: bold;
          color: #47506b;
        }
        .cardBannershow {
          width: 100%;
          display: flex;
          .bannerImg {
            transform: scale(1);
            transition: all 0.35s ease-out;
            width: 100%;
          }
        }
        .cardBannerhide {
          display: none;
        }
        .card-body {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .products {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            .categoryCard {
              width: 90%;
              margin: 0 1%;
              border: 1px solid rgba(50, 65, 152, 0.5);
              .card-title {
                color: #47506b;
                margin: 4% 0 0 0;
                padding: 0;
                font-size: 1.4em;
              }
              .card {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5% auto;
                border: 1px solid rgba(0, 0, 0, 0.25);
                max-width: 22.5vw;
                .card-img-top {
                  max-width: 100%;
                  margin: 0 0 5% 0;
                }
                .card-body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 0;
                  padding-bottom: 1em;
                  .card-title {
                    font-size: 1em;
                  }
                  .btn {
                    width: 40%;
                    margin: 10% 0 0 0;
                  }
                }
              }
            }
          }
          .hide {
            max-height: 0;
            transition: all 0.5s linear;
            overflow: hidden;
          }
          .show {
            max-height: 1000vh;
            transition: max-height 1s ease-in;
          }
          .btn {
            width: 20%;
            margin: 2% 0 0 0;
          }
          .buttonhide {
            display: none;
          }
          .buttonshow {
            display: block;
          }
        }
      }
      .expanded {
        width: 95%;
        transition: all 0.35s ease-in-out;
        margin-left: 2.5%;
      }
    }
    .whatsapp {
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 100;
      .wpIcon {
        width: 3em;
        &:hover {
          width: 3.2em;
        }
      }
    }
    .FormSection {
      background-color: white;
      border-radius: 10px;
      width: 65%;
      margin: auto;
      padding: 5% 0;
      margin-bottom: 2%;
      .Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .datosContacto {
          display: flex;
          justify-content: center;
          width: 60%;
          .dataForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 2%;
          }
        }
        .city {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 90%;
          margin: auto;
          div {
            width: 30%;
            margin-right: 2%;
          }
        }
        .textareaContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }
        .textarea {
          width: 80%;
          height: 10vw;
        }
      }
    }
  }
}
