@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002266;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: content-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  .card-title {
    overflow: hidden;
  }
}
h2 {
  overflow: hidden;
}
.App {
  .header {
    width: 100%;
    .navBar {
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;
      overflow: initial;
      .navbar-brand {
        display: flex;
        width: 30%;
        align-items: center;
        cursor: pointer;
        img {
          width: 15%;
          height: 3vw;
        }
        .title {
          padding: 1% 1% 2% 1%;
          text-align: left;
          background-color: #f8f9fa;
          width: 70%;
          margin: auto 0;
          color: #0055ff;
          font-size: 1.7em;
        }
      }
      .navbar-collapse {
        overflow: initial;
        .navbar-nav {
          overflow: initial;
          .nav-link {
            color: #3d475c;
            &:hover {
              color: #0055ff;
              font-weight: bold;
            }
          }
          .dropdown {
            overflow: initial;
          }
        }
        .quienesNav {
          margin-right: 5%;
        }
      }
    }
    .navBarBig {
      height: 7vw;
      transition: height 0.3s ease;
      .navbar-brand {
        display: flex;
        width: 20%;
        align-items: center;
        overflow: hidden;
        transform-origin: left;
        transition: width 0.25s linear;
        img {
          transform: scale(0);
        }
        .title {
          padding: 1% 1% 2% 1%;
          text-align: left;
          background-color: #f8f9fa;
          width: 100%;
          margin: auto 0 auto -10%;
          color: #0055ff;
          font-size: 1.7em;
          transform: scale(1);
          transform-origin: left;
          transition: transform 0.25s linear;
        }
      }
    }
    .navBarShort {
      height: 3.5vw;
      transition: height 0.3s ease;
      .navbar-brand {
        display: flex;
        width: 7%;
        align-items: center;
        overflow: hidden;
        transition: width 0.3s linear;
        transform-origin: left;
        cursor: pointer;
        img {
          width: 100%;
          height: 5vw;
          transform: scale(1.5);
          transition: transform 0.3s ease-in;
          transform-origin: left;
        }
        .title {
          transform: scale(0);
        }
      }
    }
    .banner {
      position: fixed;
      top: 5%;
      width: 100%;
      z-index: -1;
      .carousel-indicators {
        display: none;
      }
      .carousel-control-prev {
        display: none;
      }
      .carousel-control-next {
        display: none;
      }
    }
  }
  .main {
    padding-top: 12%;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(77, 77, 77, 0.55);
    .cardContainer {
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .ExpandedCard {
        margin-bottom: 5%;
        width: 60%;
        height: auto;
        transition: all 0.6s ease-out;
        overflow: hidden;
        &:hover {
          width: 85%;
          transition: all 0.35s ease-in-out;
        }
        .card-header {
          background-color: #e6e6e6;
          font-size: 1.5em;
          font-weight: bold;
          color: #0055ff;
        }
        .cardBannershow {
          width: 100%;
          display: flex;
          .bannerImg {
            transform: scale(1);
            transition: all 0.35s ease-out;
            width: 100%;
          }
        }
        .cardBannerhide {
          display: none;
        }
        .card-body {
          width: 96%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2%;
          margin: auto;
          .products {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            .categoryCard {
              width: 90%;
              margin: 0 1%;
              border: 1px solid rgba(50, 65, 152, 0.5);
              .card-title {
                color: #002266;
                margin: 4% 0 0 0;
                padding: 0;
                font-size: 1.4em;
              }
              .card-body {
                .card {
                  width: 90%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin: 5% auto;
                  border: 1px solid rgba(0, 0, 0, 0.25);
                  max-width: 22.5vw;
                  .card-img-top {
                    max-width: 100%;
                    margin: 0 0 5% 0;
                  }
                  .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    padding-bottom: 1em;
                    .card-title {
                      font-size: 1em;
                    }
                    .btn {
                      width: 65%;
                      margin: 10% 0 0 0;
                    }
                  }
                }
              }
            }
          }
          .hide {
            max-height: 0;
            transition: all 0.5s linear;
            overflow: hidden;
          }
          .show {
            max-height: 1000vh;
            transition: max-height 1s ease-in;
          }
          .btn {
            width: 20%;
            margin: 2% 0 0 0;
          }
          .buttonhide {
            display: none;
          }
          .buttonshow {
            display: block;
          }
        }
      }
      .expanded {
        width: 85%;
        transition: all 0.35s ease-in-out;
      }
    }
    .formSection {
      background-color: white;
      border-radius: 10px;
      width: 65%;
      margin: auto;
      padding: 5% 0;
      margin-bottom: 2%;
      .Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .datosContacto {
          display: flex;
          justify-content: center;
          width: 60%;
          .dataForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 2%;
            overflow: initial;
          }
        }
        .city {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 90%;
          margin: auto;
          div {
            width: 30%;
            margin-right: 2%;
            overflow: initial;
          }
        }
        .textareaContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          overflow: initial;
        }
        .textarea {
          width: 80%;
          height: 10vw;
        }
      }
    }
    .infoHide {
      display: none;
    }
    .infoShow {
      display: block;
      z-index: 10;
      width: 96%;
      margin: 0 0 2% 2%;
      .card {
        .card-body {
          .imgContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5%;
            .minicard {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 30%;
            }
            p {
              width: 100%;
              text-align: center;
              font-size: 0.8em;
              background-color: #ffffff86;
              color: #002266;
              padding: 1% 1% 2% 1%;
              margin: -8% 0 10% 0;
              font-weight: bold;
            }
          }
        }
      }
    }
    .whatsapp {
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 100;
      .wpIcon {
        width: 3em;
        &:hover {
          width: 3.2em;
        }
      }
    }
  }
  .footer {
    .nav {
      .card {
        padding-top: 2%;
        .card-title {
          font-size: 1em;
          margin: 0;
          padding: 1%;
        }
        .card-footer {
          width: 100%;
          .link-container {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5%;
            .card-link {
              color: black;
            }
            span {
              color: #0055ff;
            }
            img {
              width: 65%;
            }
          }
          .imgLink {
            width: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
